@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --red: #dc2626;
  --green: #22c55e;
  --lightgreen: #dcfce7;
  --yellow: #eab308;
  --black: #000000;
  --white: #ffffff;
  --gray: #556987;
}
body {
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
  font-size: 1.6rem;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
a {
  font-size: 1.6rem;
}
p {
  font-size: 1.6rem;
}
/* ############ BUTTONS ######## */

.ud-btn {
  padding: 1rem 3rem;
  border-radius: 100px;
  font-weight: 600;
}
.green-btn {
  background-color: #22c55e;
  color: var(--white);
}
.green-btn:hover {
  transition: 0.5s;
  color: var(--black);
}
.yellow-btn {
  background-color: var(--yellow);
  color: var(--black);
}
.yellow-btn:hover {
  transition: 0.5s;
  color: var(--white);
}
/* ########### HEADER #############  */
header {
  width: 100%;
  height: auto;
  padding: 1rem 0rem;
}
header .logo {
  width: 200px;
}
header .logo img {
  width: 100%;
}

header .menu ul {
  margin-bottom: 0;
  padding-left: 0;
}
header .menu ul li a {
  font-size: 1.8rem;
  display: inline-block;
  margin-right: 3.5rem;
  color: var(--black);
  font-weight: 400;
}

header .grp-buttons .toggle {
  width: 45px;
  height: 45px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-left: 1rem;
  display: none;
}
header .grp-buttons .toggle span {
  width: 30px;
  height: 2.5px;
  border-radius: 100px;
  background-color: #000000;
  display: block;
  position: absolute;
  top: 20px;
  left: 5px;
  transition: 0.3s ease-in-out;
}
header .grp-buttons .toggle span:nth-child(1) {
  transform: translateY(10px);
  left: 10px;
}
header .grp-buttons .toggle span:nth-child(2) {
  transform: translateY(0px);
  width: 35px;
}
header .grp-buttons .toggle span:nth-child(3) {
  transform: translateY(-10px);
  left: 10px;
}

header .grp-buttons .toggle.active span:nth-child(1) {
  transform: rotate(45deg);
}
header .grp-buttons .toggle.active span:nth-child(2) {
  transform: translateX(100px);
}
header .grp-buttons .toggle.active span:nth-child(3) {
  transform: rotate(-45deg);
}

/* ############### HERO ##############  */
.ud-hero {
  width: 100%;
  height: auto;
  padding: 5rem 0;
  margin-bottom: 5rem;
}
.ud-hero label {
  font-size: 1.6rem;
  color: var(--green);
  background-color: var(--lightgreen);
  padding: 0.7rem 3rem;
  border-radius: 100px;
  font-weight: 500;
}
.ud-hero h1 {
  font-size: 6.5rem;
  font-weight: 700;
  margin: 4rem 0;
}
.ud-hero p {
  font-size: 2rem;
  font-weight: 400;
}

.ud-hero .grp-buttons {
  margin-top: 3rem;
}
.ud-hero .grp-buttons a {
  margin-right: 2rem;
}
.ud-hero .grp-buttons a .icon {
  position: relative;
  top: 2.5px;
}

/* ################ VIDEO SECTION ################  */

.ud-video {
  width: 100%;
  height: auto;
}

.ud-video .vi-img {
  width: 95%;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.ud-video .vi-img img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}
.ud-video .vi-img a {
  color: var(--white);
  font-size: 15rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ##### MODAL ########## */
.modal-content iframe {
  width: 100%;
  height: 400px;
}
.ud-close-btn {
  font-size: 1.5rem;
  position: absolute;
  top: -27px;
  right: -26px;
  background-color: var(--red);
  opacity: 1;
  padding: 2rem;
  border-radius: 100px;
}
.ud-close-btn svg {
  fill: var(--white);
}
/* MEDIA QURES  */

@media only screen and (max-width: 992px) {
  .menu {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7px);
    transform: translateX(-1000%);
    transition: 0.3s ease-in-out;
  }
  .menu.active {
    transform: translateX(0%);
  }
  header .menu ul {
    flex-direction: column;
    margin-top: 2rem;
  }
  header .menu ul li {
    width: 100%;
  }
  header .menu ul li a {
    display: block;
    margin-right: 0px;
    border-bottom: 2px solid var(--gray);
    padding: 8px 25px;
  }
  header .grp-buttons .toggle {
    display: block;
  }
  header .grp-buttons .ud-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    text-align: center;
    z-index: 99;
  }
}
